### Homework 2

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('hmelq.mini.csv')
#data=pd.read_csv('https://raw.githubusercontent.com/caglarmert/UVBMOB/master/titanic_train.csv') # veriseti yoksa internetten çekmek için

In [3]:
data.head()

,bad,loan,mortdue,value,reason,job,yoj,derog,delinq,clage,ninq,clno,debtinc
0,0,81200,18834,108355,HomeImp,NaN,28.0,0.0,0.0,139.14,0.0,14.0,34.042
1,0,12600,103960,127384,DebtCon,NaN,2.0,0.0,0.0,129.02,0.0,25.0,34.479
2,0,18000,46865,61266,DebtCon,NaN,5.0,0.0,0.0,102.59,2.0,9.0,26.354
3,0,10300,57676,71027,DebtCon,NaN,19.0,0.0,0.0,157.52,1.0,11.0,33.992
4,0,9400,56508,78358,DebtCon,NaN,17.0,0.0,0.0,141.93,0.0,11.0,32.327

In [9]:
stats={ #'count': pd.DataFrame.count,
        'sum': pd.DataFrame.sum,
        'mean': pd.DataFrame.mean,
        #'median': pd.DataFrame.meadian,
        #'mode' : pd.DataFrame.mode,
        'std': pd.DataFrame.std,
        'min': pd.DataFrame.min,
        'max': pd.DataFrame.max,
        'abs': pd.DataFrame.abs,
        'prod': pd.DataFrame.prod,
        'cumsum': pd.DataFrame.cumsum,
        'cumprod': pd.DataFrame.cumprod}

columns = data.columns.drop(['reason'])

for j in range (len(stats)):
    print(" ")
    print(str(list(stats.keys())[j]).upper()+str(" : "))
    print(" ")
    for i in columns:
        print(str(i) + "  " + str(list(stats.values())[j](data[i])))

SUM :

bad  0
loan  1981100
mortdue  6218529
value  8807114
job  0.0
yoj  775.3
derog  7.0
delinq  8.0
clage  8416.080000000002
ninq  43.0
clno  982.0
debtinc  2933.7239999999997

MEAN :

bad  0.0
loan  20011.11111111111
mortdue  62813.42424242424
value  88960.74747474748
job  nan
yoj  9.69125
derog  0.12962962962962962
delinq  0.13114754098360656
clage  137.96852459016395
ninq  0.7962962962962963
clno  16.098360655737704
debtinc  32.59693333333333

STD :

bad  0.0
loan  19988.18982365096
mortdue  27561.845388622747
value  26648.955191198755
job  nan
yoj  7.739479486471876
derog  0.3390495203045245
delinq  0.34036303344446667
clage  43.00923047579692
ninq  1.0881805765385795
clno  6.0434673216423995
debtinc  5.066861907631907

MIN :

bad  0
loan  5000
mortdue  12340
value  32220
job  nan
yoj  2.0
derog  0.0
delinq  0.0
clage  63.12
ninq  0.0
clno  9.0
debtinc  20.028

MAX :

bad  0
loan  82200
mortdue  119879
value  147991
job  nan
yoj  28.0
derog  1.0
delinq  1.0
clage  225.69
ninq  4.0
clno  30.0
debtinc  41.035

ABS :

bad  0     0
1     0
2     0
3     0
4     0
     ..
94    0
95    0
96    0
97    0
98    0
Name: bad, Length: 99, dtype: int64
loan  0     81200
1     12600
2     18000
3     10300
4      9400
      ...
94    11000
95     7500
96     5000
97    13900
98    22100
Name: loan, Length: 99, dtype: int64
mortdue  0      18834
1     103960
2      46865
3      57676
4      56508
       ...
94    102000
95     40936
96     70470
97     57700
98     84114
Name: mortdue, Length: 99, dtype: int64
value  0     108355
1     127384
2      61266
3      71027
4      78358
       ...
94    120000
95     50900
96     77908
97     74350
98     97775
Name: value, Length: 99, dtype: int64
job  0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
      ..
94   NaN
95   NaN
96   NaN
97   NaN
98   NaN
Name: job, Length: 99, dtype: float64
yoj  0     28.0
1      2.0
2      5.0
3     19.0
4     17.0
      ...
94     3.0
95    10.0
96     5.0
97     8.5
98     8.0
Name: yoj, Length: 99, dtype: float64
derog  0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
     ...
94    0.0
95    1.0
96    NaN
97    NaN
98    NaN
Name: derog, Length: 99, dtype: float64
delinq  0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
     ...
94    0.0
95    0.0
96    NaN
97    NaN
98    NaN
Name: delinq, Length: 99, dtype: float64
clage  0     139.14
1     129.02
2     102.59
3     157.52
4     141.93
       ...
94    125.80
95    115.60
96       NaN
97       NaN
98       NaN
Name: clage, Length: 99, dtype: float64
ninq  0     0.0
1     0.0
2     2.0
3     1.0
4     0.0
     ...
94    1.0
95    1.0
96    NaN
97    NaN
98    NaN
Name: ninq, Length: 99, dtype: float64
clno  0     14.0
1     25.0
2      9.0
3     11.0
4     11.0
      ...
94    26.0
95    26.0
96     NaN
97     NaN
98     NaN
Name: clno, Length: 99, dtype: float64
debtinc  0     34.042
1     34.479
2     26.354
3     33.992
4     32.327
       ...
94       NaN
95       NaN
96       NaN
97       NaN
98       NaN
Name: debtinc, Length: 99, dtype: float64

PROD :

bad  0
loan  0
mortdue  0
value  0
job  1.0
yoj  5.174616352395452e+68
derog  0.0
delinq  0.0
clage  1.496102976886701e+129
ninq  0.0
clno  8.668927176493138e+71
debtinc  4.8497562387719155e+135

CUMSUM :

bad  0     0
1     0
2     0
3     0
4     0
     ..
94    0
95    0
96    0
97    0
98    0
Name: bad, Length: 99, dtype: int64
loan  0       81200
1       93800
2      111800
3      122100
4      131500
       ...
94    1932600
95    1940100
96    1945100
97    1959000
98    1981100
Name: loan, Length: 99, dtype: int64
mortdue  0       18834
1      122794
2      169659
3      227335
4      283843
       ...
94    5965309
95    6006245
96    6076715
97    6134415
98    6218529
Name: mortdue, Length: 99, dtype: int64
value  0      108355
1      235739
2      297005
3      368032
4      446390
       ...
94    8506181
95    8557081
96    8634989
97    8709339
98    8807114
Name: value, Length: 99, dtype: int64
job  0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
      ..
94   NaN
95   NaN
96   NaN
97   NaN
98   NaN
Name: job, Length: 99, dtype: float64
yoj  0      28.0
1      30.0
2      35.0
3      54.0
4      71.0
      ...
94    743.8
95    753.8
96    758.8
97    767.3
98    775.3
Name: yoj, Length: 99, dtype: float64
derog  0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
     ...
94    6.0
95    7.0
96    NaN
97    NaN
98    NaN
Name: derog, Length: 99, dtype: float64
delinq  0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
     ...
94    8.0
95    8.0
96    NaN
97    NaN
98    NaN
Name: delinq, Length: 99, dtype: float64
clage  0      139.14
1      268.16
2      370.75
3      528.27
4      670.20
       ...
94    8300.48
95    8416.08
96        NaN
97        NaN
98        NaN
Name: clage, Length: 99, dtype: float64
ninq  0      0.0
1      0.0
2      2.0
3      3.0
4      3.0
      ...
94    42.0
95    43.0
96     NaN
97     NaN
98     NaN
Name: ninq, Length: 99, dtype: float64
clno  0      14.0
1      39.0
2      48.0
3      59.0
4      70.0
      ...
94    956.0
95    982.0
96      NaN
97      NaN
98      NaN
Name: clno, Length: 99, dtype: float64
debtinc  0      34.042
1      68.521
2      94.875
3     128.867
4     161.194
       ...
94        NaN
95        NaN
96        NaN
97        NaN
98        NaN
Name: debtinc, Length: 99, dtype: float64

CUMPROD :

bad  0     0
1     0
2     0
3     0
4     0
     ..
94    0
95    0
96    0
97    0
98    0
Name: bad, Length: 99, dtype: int64
loan  0                   81200
1              1023120000
2          18416160000000
3      189686448000000000
4    -6281563949826506752
             ...
94                      0
95                      0
96                      0
97                      0
98                      0
Name: loan, Length: 99, dtype: int64
mortdue  0                   18834
1              1957982640
2          91760856423600
3     5292399155087553600
4     4276532708228030208
             ...
94                      0
95                      0
96                      0
97                      0
98                      0
Name: mortdue, Length: 99, dtype: int64
value  0                  108355
1             13802693320
2         845635808943120
3     4722742380674329392
4     4514602191787529760
             ...
94                      0
95                      0
96                      0
97                      0
98                      0
Name: value, Length: 99, dtype: int64
job  0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
      ..
94   NaN
95   NaN
96   NaN
97   NaN
98   NaN
Name: job, Length: 99, dtype: float64
yoj  0     2.800000e+01
1     5.600000e+01
2     2.800000e+02
3     5.320000e+03
4     9.044000e+04
          ...
94    1.521946e+65
95    1.521946e+66
96    7.609730e+66
97    6.468270e+67
98    5.174616e+68
Name: yoj, Length: 99, dtype: float64
derog  0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
     ...
94    0.0
95    0.0
96    NaN
97    NaN
98    NaN
Name: derog, Length: 99, dtype: float64
delinq  0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
     ...
94    0.0
95    0.0
96    NaN
97    NaN
98    NaN
Name: delinq, Length: 99, dtype: float64
clage  0      1.391400e+02
1      1.795184e+04
2      1.841680e+06
3      2.901014e+08
4      4.117409e+10
          ...
94    1.294207e+127
95    1.496103e+129
96              NaN
97              NaN
98              NaN
Name: clage, Length: 99, dtype: float64
ninq  0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
     ...
94    0.0
95    0.0
96    NaN
97    NaN
98    NaN
Name: ninq, Length: 99, dtype: float64
clno  0     1.400000e+01
1     3.500000e+02
2     3.150000e+03
3     3.465000e+04
4     3.811500e+05
          ...
94    3.334203e+70
95    8.668927e+71
96             NaN
97             NaN
98             NaN
Name: clno, Length: 99, dtype: float64
debtinc  0     3.404200e+01
1     1.173734e+03
2     3.093259e+04
3     1.051461e+06
4     3.399057e+07
          ...
94             NaN
95             NaN
96             NaN
97             NaN
98             NaN
Name: debtinc, Length: 99, dtype: float64